{% extends "stormtrooper/base.html" %}

{% block extra_css %}
<style>
.login .abcRioButton{
  margin: auto;
}  
</style>
{% endblock extra_css %}

{% block extra_head %}
<meta name="google-signin-scope" content="email profile">
<meta name="google-signin-client_id" content="YOUR_CLIENT_ID.apps.googleusercontent.com">
{% endblock extra_head %}

{% block content %}
<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-4 is-offset-4">
      <div class="box has-text-centered login">
        <h1 class="title">Login</h1>
        <hr />
        <div class="g-signin2" data-onsuccess="onSignIn"></div>
      </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}

{% block extra_js %}<script src="//apis.google.com/js/platform.js" async defer></script>{% endblock %}