{% extends "stormtrooper/base.html" %}

{% block extra_css %}
<style>
.login .abcRioButton{
  margin: auto;
}  
</style>
{% endblock extra_css %}


{% block content %}
<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-4 is-offset-4">
      <div class="box has-text-centered login">
        <h1 class="title">Login</h1>
        <hr />
        <a class="button is-primary" href="{% url 'social:begin' 'google-oauth2' %}">Sign in with google</a>
      </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}

