{% extends "tasker/task_base.html" %}
{% load humanize el_pagination_tags %}
{% load addcss %}

{% block task_content %}
    <div class="columns">
      <div class="column is-8 is-offset-2">
        <div class="box">
            <table class="table is-striped">
                <thead>
                    <tr>
                        <th> Desciption </th>
                        <th> Value </th>
                    </tr>
                </thead>
                <tbody>
                    {% for k,v in question.question.items %}
                    <tr>
                        <td>{{ k }}</td>
                        <td>{{ v|urlize }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="box">
            {% if form.answer.errors %}
            {% for error in form.answer.errors %}
            <div class="notification is-danger">
                <button class="delete"></button>
                {{ error|escape }}
            </div>
            {% endfor %}
            {% endif %}
            {% if form.answer_choice.errors %}
            {% for error in form.answer_choice.errors %}
            <div class="notification is-danger">
                <button class="delete"></button>
                {{ error|escape }}
            </div>
            {% endfor %}
            {% endif %}
            <form action="{{ question.get_absolute_url }}" method="post">
                {% csrf_token %}
                {% if task.is_multiple_choice %}
                <p class="control">
                    <ul>
                        {% for choice in form.answer_choice %}
                    <li>
                    <label class="radio">
                       {{ choice }}
                    </label>
                    </li>
                    {% endfor %}
                    </ul>
                </p>
                {% else %}
                <p class="control">
                    <label class="label">{{ form.answer.label_tag }}</label>
                    {{ form.answer|addcss:"input" }}
                </p>
                {% endif %}
                <div class="control is-horizontal">
                    <div class="control is-grouped">
                        <p class="control">
                            <button class="button is-primary">Submit</button>
                        </p>
                        <p class="control">
                            <a class="button is-light" href="{% url 'task-play' task.id %}?exclude={{ question.id }}">Skip</a>
                        </p>
                    </div>
                </div>
            </form>
        </div>
      </div>
    </div>
{% endblock %}
