{% extends "tasker/task_base.html" %}
{% load humanize el_pagination_tags %}

{% block task_content %}
<div class="columns">
    <div class="column is-8 is-offset-2">
        <nav class="level is-mobile box">
            <div class="level-item has-text-centered">
                <p class="heading">Questions</p>
                <p class="title">{{ task.no_of_questions|intcomma }}</p>
            </div>
            <div class="level-item has-text-centered">
                <p class="heading">Answered</p>
                <p class="title">{{ answered |default:0 }}</p>
            </div>
            <div class="level-item has-text-centered">
                <p class="heading">Choice</p>
                {% if task.is_multiple_choice %}
                <p class="title"><i class="fa fa-check"></i></p>
                {% else %}
                <p class="title"><i class="fa fa-close"></i></p>
                {% endif %}
            </div>
            {% if not task.is_closed and task.is_active %}
            <div class="level-item has-text-centered">
                <p class="title">
                    <a href="{{ task.get_task_play_url }}" class="button is-success is-outlined is-medium" title="Start"><i class="fa fa-play-circle"></i></a>
                </p>
            </div>
            {% endif %}
            {% if request.user.is_staff or request.user == task.created_by %}
            {% if task.has_exports %}
            <div class="level-item has-text-centered">
                <p class="title">
                    <a href="{% url 'export-list' task.id %}" class="button is-danger is-outlined is-medium" title="Past exports"><i class="fa fa-download"></i></a>
                </p>
            </div>
            {% endif %}
            <div class="level-item has-text-centered">
                <p class="title">
                    <form action ="{% url 'task-export' %}" method="post">
                        {% csrf_token %}
                        {{ export_form }}
                        <button class="button is-primary is-outlined is-medium" title="Export"><i class="fa fa-plus"></i></button>
                    </form>
                </p>
            </div>
            {% endif %}
        </nav>
        <progress class="progress is-success" value="{{ progress }}" max="100">{{ progress }}%</progress>
    </div>
</div>
{% if request.user == task.created_by %}
<div class="columns">
              <div class="column is-8 is-offset-2">
                <div class="box">
                  <h3 class="title">Questions</h3>
                  <hr />
                  <table class="table is-striped">
                    <thead>
                      <tr>
                        {% for k in task.question_template %}
                        <th> {{ k }}</th>
                        {% endfor %}
              </tr>
            </thead>
                    <tbody>
                      {% paginate task.questions as questions %}
                      {% for q in questions %}
                      <tr>
                        {% for k, qi in q.question.items %}
                        <td>{{ qi }}</td>
                        {% endfor %}
              </tr>
                      {% endfor %}
            </tbody>
          </table>
                  {% show_pages %}
        </div>
      </div>
    </div>
{% endif %}
{% endblock %}
