{% extends "stormtrooper/base.html" %}
{% load humanize el_pagination_tags %}

{% block content %}
<section class="section">
    <div class="container">
        <div class="columns">
            <div class="column is-1 is-offset-1 has-text-right">
                <small>&nbsp;</small>
                <h1 class="title">
                    <a href="{% url 'task-list' %}" class="button is-dark is-outlined"><i class="fa fa-arrow-left"></i></a>
                </h1>
            </div>
            <div class="column is-8">
                <small>{{ task.created_on }}</small>
                <h1 class="title">{{ task.title }}
                    {% if task.is_closed %}
                    <span class="tag is-danger">CLOSED</span>
                    {% elif task.is_active %}
                    <span class="tag is-success">ACTIVE</span>
                    {% endif %}</h1>
                <div class="box">
                    {{ task.description|linebreaks|safe }}
                </div>
                <nav class="level is-mobile box">
                    <div class="level-item has-text-centered">
                        <p class="heading">Questions</p>
                        <p class="title">{{ task.no_of_questions|intcomma }}</p>
                    </div>
                    <div class="level-item has-text-centered">
                        <p class="heading">Answered</p>
                        <p class="title">{{ answered |default:0 }}</p>
                    </div>
                    <div class="level-item has-text-centered">
                        <p class="heading">Choice</p>
                        {% if task.is_multiple_choice %}
                        <p class="title"><i class="fa fa-check"></i></p>
                        {% else %}
                        <p class="title"><i class="fa fa-close"></i></p>
                        {% endif %}
                    </div>
                    {% if not task.is_closed and task.is_active %}
                    <div class="level-item has-text-centered">
                        <p class="title">
                            <a href="{% url 'task-play' task.id %}" class="button is-success is-outlined is-medium" title="Start"><i class="fa fa-play-circle"></i></a>
                        </p>
                    </div>
                    {% endif %}
                    <div class="level-item has-text-centered">
                        <p class="title">
                            <a href="{{ task.get_task_export_url }}" class="button is-danger is-outlined is-medium" title="Export"><i class="fa fa-cloud-download"></i></a>
                        </p>
                    </div>
                </nav>
                <div class="box">
                    <progress class="progress is-success" value="{{ progress }}" max="100">{{ progress }}%</progress>
                </div>
            </div>
        </div>
        {% if request.user == task.created_by %}
        <div class="columns">
            <div class="column is-8 is-offset-2">
                <div class="box">
                    <h3 class="title">Questions</h3>
                    <hr />
                    <table class="table is-striped">
                        <thead>
                            <tr>
                                {% for k in task.question_template %}
                                <th> {{ k }}</th>
                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody>
                            {% paginate task.questions as questions %}
                            {% for q in questions %}
                            <tr>
                                {% for k, qi in q.question.items %}
                                <td>{{ qi }}</td>
                                {% endfor %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    {% show_pages %}
                </div>
            </div>
        </div>
        {% endif %}
    </div>
</section>
{% endblock %}
