{% extends "stormtrooper/base.html" %}
{% load el_pagination_tags %}

{% block content %}
<section class="section">
  <div class="container">
    <div class="columns">
      <div class="column is-8 is-offset-2">
        <div class="level">
          <div class="level-left">
            <div class="level-item">
              <h3 class="title">Open Tasks</h3>
            </div>
          </div>
          {% if request.user.is_superuser or request.user.is_staff %}
          <div class="level-right">
            <p class="level-item hint--top" aria-label="New Task">
              <a class="button is-success is-outlined" href="{% url 'admin:tasker_task_add' %}">
                <span class="icon is-small">
                  <i class="fa fa-plus"></i>
                </span>
                <span>New</span>
              </a>
            </p>
          </div>
          {% endif %}
        </div>
        <hr />
        {% if task_list %}
        <div class="box">
          <table class="table is-striped">
            <thead>
              <tr>
                <th>ID</th>
                <th>Title</th>
                <th>No of questions</th>
                <th></th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              {% paginate task_list %}
              {% for task in task_list %}
              <tr>
                <td>{{ task.id }}</td>
                <td><a href="{{ task.get_absolute_url }}" title="{{ task.title }}">{{ task.title }}</a></td>
                <td>{{ task.no_of_questions }}</td>
                <td>{% include 'login/profile_pic.html' with user=task.created_by %}</td>
                <td>{% if task.is_closed %}<span class="tag is-small is-danger">CLOSED</span>{% endif %}</td>
                <td>
                  <div class="control is-grouped is-pulled-right">
                    <p class="control hint--top" aria-label="Details">
                      <a href="{{ task.get_absolute_url }}" class="button is-outlined is-info" title="Details"><i class="fa fa-ellipsis-h"></i></a>
                    </p>
                    <p class="control hint--top" aria-label="Start">
                      <a href="{% url 'task-play' task.id %}" class="button is-outlined is-success" title="Start"><i class="fa fa-play-circle"></i></a>
                    </p>
                    {% if task.has_exports %}
                    <p class="control hint--top" aria-label="Past exports">
                      <a href="{% url 'export-list' task.id %}" class="button is-outlined is-danger" title="Past exports"><i class="fa fa-download"></i></a>
                    </p>
                    {% endif %}
                  </div>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          {% show_pages %}
        </div>
        {% else %}
          <div class="notification is-warning">
            <span class="icon"><i class="fa fa-exclamation-circle"></i></span> Sorry trooper, no open tasks
          </div>
        {% endif %}
      </div>
    </div>
  </div>
</section>
{% endblock %}
